include comps/header.jade

div.container-fluid
  div.row-fluid
   div.span2 
   div.span10
      div.btn-group#company
        button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown", type="button") Company
         span.caret
        ul.dropdown-menu(role="menu")
         li
          if(locals.companies)
            each company in locals.companies 
              a(href="/testcases/#{company}")= company
      if(locals.teams)
        div.btn-group#teams
          button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown", type="button") Team 
           span.caret
          ul.dropdown-menu(role="menu")
           li
              each team in locals.teams 
                a(href="/testcases/#{company}/#{team}")= team 
      if(locals.components)
        div.btn-group#components
          button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown", type="button") Components 
           span.caret
          ul.dropdown-menu(role="menu")
           li
              each component in locals.components 
                a(href="/testcases/#{company}/#{team}/#{component}")= component 


    if(locals.scenarios)
      div.table-responsive
        table.table.table-bordered#scenariosTable
          thead
            tr
             th#tc_id TC_ID
             th#tc_scenario TC_SCENARIO
          tbody
           each scenario in locals.scenarios
            tr.scenario-row(data-id="#{scenario.tc_id}", data-steps="#{scenario.tc_steps}", data-target=".scenario-modal")
             td.scenario-id= scenario.tc_id
             td.scenario-name= scenario.tc_scenario
      
      div.modal.scenario-modal(tabindex="-1", role="dialog")
       form#scenarioSteps
        div.modal-dialog
          div.modal-content 
            div.modal-header
              button.close.modal-close(type="button")
                span(aria-hidden="true") &times;
                span.sr-only close
              h4.modal-title 
            div.modal-body-status.alert(role="alert")
            div.modal-body
            div.modal-footer
              button.btn.btn-default.modal-close(type="button") Close
              button.btn.btn-primary#modal-save(type="button") Save Changes  

  script(type='text/javascript').
  
   $(document).ready(function(){

      //Sets labels on the dropdowns with the selected values ( based on url params )
      Helper.setDropDownText();

      //highlight row on click
      Helper.highlightTblRow("#scenariosTable tbody tr", "success"); 
      
      //collect rows before Datatable takes them 
      Tessy.rows = $("#scenariosTable tbody tr");
  
      //DataTable initialize
      $("#scenariosTable").DataTable();    
  
      //object to handle the modal 
      var modal = new Modal('.scenario-modal');

      //object to get and update testcases
      var testCase = new TestCases();

      //show modal with steps on double click
      $("#scenariosTable tbody").on("dblclick", ".scenario-row", function(evt){
        var row          = evt.target.parentNode;
        var scenarioName = row.children[1].innerHTML;
        var stepIds      = row.dataset.steps;
        var modalData    = '';
        var stepsPromise = testCase.getSteps(stepIds);
        stepsPromise.success(function(steps){ 
         steps.map(function(step){
           modalData += "<div class='step-row' data-id='" + step.st_id + "'>" + step.st_text + "</div>";
          }); 
         modal.setTitle(scenarioName);
         modal.setBody(modalData);
         modal.toggle('show'); 
        }); 
      });

      $(".modal-body").on('dblclick', ".step-row",  function(evt){
        modal.editStep(evt); 
      })

      $("#modal-save").on('click', function(evt){
        var steps = $("#scenarioSteps").serializeArray() 
        if(steps.length){ 
          var savePromise = testCase.saveSteps(steps); 
          savePromise.success(function(status){
           if(status === 'ok') { 
            modal.setStatus('success', 'Successfully saved your changes.');
            modal.toggle('hide', 2000); 
           }else{
            modal.setStatus('danger', 'Something bad happened while saving.');
           } 
          });
        }else{
          modal.toggle('hide');
        }
      });

      $(".modal-close").on("click", function(evt){
        modal.toggle('hide'); 
      });

      $(".scenario-modal").on("keyup", function(evt){
        if(evt.keyCode == 27){ 
          modal.toggle('hide'); 
        }
      });
   });
   

include comps/footer.jade

