include comps/header.jade

div.container-fluid
  div.row-fluid
   div.span2 
   div.span10
      div.btn-group#company
        button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown", type="button") Company
         span.caret
        ul.dropdown-menu(role="menu")
         li
          if(locals.companies)
            each company in locals.companies 
              a(href="/testcases/#{company}")= company
      if(locals.teams)
        div.btn-group#teams
          button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown", type="button") Team 
           span.caret
          ul.dropdown-menu(role="menu")
           li
              each team in locals.teams 
                a(href="/testcases/#{company}/#{team}")= team 
      if(locals.components)
        div.btn-group#components
          button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown", type="button") Components 
           span.caret
          ul.dropdown-menu(role="menu")
           li
              each component in locals.components 
                a(href="/testcases/#{company}/#{team}/#{component}")= component 


    if(locals.scenarios)
      div.table-responsive
        table.table.table-bordered
          thead
            tr
             th TC_ID
             th TC_SCENARIO
          tbody
           each scenario in locals.scenarios
            tr(data-id="#{scenario.tc_id}")
             td= scenario.tc_id
             td= scenario.tc_scenario


include comps/footer.jade

