include comps/header.jade

div.container-fluid
  div.row-fluid
   div.span2 
   div.span10
      div.btn-group#company
        button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown", type="button") Company
         span.caret
        ul.dropdown-menu(role="menu")
         li
          if(locals.companies)
            each company in locals.companies 
              a(href="/testcases/#{company}")= company
      if(locals.teams)
        div.btn-group#teams
          button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown", type="button") Team 
           span.caret
          ul.dropdown-menu(role="menu")
           li
              each team in locals.teams 
                a(href="/testcases/#{company}/#{team}")= team 
      if(locals.components)
        div.btn-group#components
          button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown", type="button") Components 
           span.caret
          ul.dropdown-menu(role="menu")
           li
              each component in locals.components 
                a(href="/testcases/#{company}/#{team}/#{component}")= component 


    if(locals.scenarios)
      div.table-responsive
        table.table.table-bordered#scenariosTable
          thead
            tr
             th#tc_id TC_ID
             th#tc_scenario TC_SCENARIO
          tbody
           each scenario in locals.scenarios
            tr(data-id="#{scenario.tc_id}", data-steps="#{scenario.tc_steps}", data-target=".scenario-modal")
             td.scenario-id= scenario.tc_id
             td.scenario-name= scenario.tc_scenario
      
      div.modal.scenario-modal(tabindex="-1", role="dialog")
       form#scenarioSteps
        div.modal-dialog
          div.modal-content 
            div.modal-header
              button.close.modal-close(type="button")
                span(aria-hidden="true") &times;
                span.sr-only close
              h4.modal-title Modal Title
            div.modal-body
            div.modal-footer
              button.btn.btn-default.modal-close(type="button") Close
              button.btn.btn-primary#modal-save(type="button") Save Changes  

  script(type='text/javascript').
    //Sets labels on the dropdowns with the selected values ( based on url params )
    Helper.setDropDownText();

    //highlight row on click
    Helper.highlightTblRow("#scenariosTable tbody tr", "success"); 
    

    //show modal with steps on double click
    $("#scenariosTable tbody tr").on("dblclick", function(evt){

      var row          = evt.target.parentNode;
      var scenarioName = row.children[1].innerHTML;
      var stepIds      = row.dataset.steps;
      var modalData    = '';
      var testCase     = new TestCases();
      var stepsPromise = testCase.getSteps(stepIds);
      stepsPromise.success(function(steps){ 
       steps.map(function(step){
         modalData += "<div class='step-row' data-id='" + step.st_id + "'>" + step.st_text + "</div>";
        }); 
       var modal = new Modal(scenarioName, modalData);
       modal.toggle('show'); 
      }); 
    });

    $(".modal-body").on('dblclick', ".step-row",  function(evt){
   
        var stepId         = evt.target.dataset.id;
        var stepText       = evt.target.innerHTML
        var row            = evt.target;
        var rowInput       = document.createElement("input");
        rowInput.name      = stepId;
        rowInput.value     = stepText;
        rowInput.className = 'steps-input';
        row.innerHTML      = '';
        row.appendChild(rowInput); 
    })

    $("#modal-save").on('click', function(evt){
      
        $.ajax({
          type: "POST",
          url: "/api/steps/updateById",
          data: { steps: $("#scenarioSteps").serializeArray() }
        }).done(function(status){
                
          if(status == 'ok'){ 
         
            $(".scenario-modal").modal('hide');
          }
        })
    });

    $(".modal-close").on("click", function(evt){
      $(".scenario-modal").modal("hide"); 
      $("#scenarioSteps .modal-body").html("");
    });

    $(".scenario-modal").on("keyup", function(evt){
      if(evt.keyCode == 27){ 
        $(".scenario-modal").modal("hide");
        $("#scenarioSteps .modal-body").html(""); 
      }
    });
    
   

include comps/footer.jade

