include comps/header.jade

div.container-fluid
  div.row-fluid
   div.span2 
   div.span10
      div.btn-group#company
        button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown", type="button") Company
         span.caret
        ul.dropdown-menu(role="menu")
         li
          if(locals.companies)
            each company in locals.companies 
              a(href="/testcases/#{company}")= company
      if(locals.teams)
        div.btn-group#teams
          button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown", type="button") Team 
           span.caret
          ul.dropdown-menu(role="menu")
           li
              each team in locals.teams 
                a(href="/testcases/#{company}/#{team}")= team 
      if(locals.components)
        div.btn-group#components
          button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown", type="button") Component 
           span.caret
          ul.dropdown-menu(role="menu")
           li
              each component in locals.components 
                a(href="/testcases/#{company}/#{team}/#{component}")= component 


    if(locals.scenarios)
      div.table-responsive
        table.table.table-bordered#scenariosTable
          thead
            tr
             th#tc_id TC_ID
             th#tc_scenario TC_SCENARIO
          tbody
           each scenario in locals.scenarios
            tr(data-id="#{scenario.tc_id}", data-steps="#{scenario.tc_steps}")
             td= scenario.tc_id
             td= scenario.tc_scenario

  script(type='text/javascript').
    //Sets labels on the dropdowns with the selected values ( based on url params )
    tessy.setDropDownText();

    //highlight row on click
    $("#scenariosTable tbody tr").on("click", function(evt){
      
       var row = evt.target.parentNode;
       if (row.className == 'success'){
         row.className = '';
       }else{
          row.className = 'success';
       } 
    });

include comps/footer.jade

